In [1]:
from bs4 import BeautifulSoup
import selenium
from selenium.common.exceptions import TimeoutException
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, WebDriverException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import requests

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://rentberry.com/gb/apartments/s/birmingham-uk')
time.sleep(2)

In [4]:
consent = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div/div[2]/button[3]')
consent.click()

In [5]:
Rent_url = []
start = 0
end = 15
for page in range (start,end):
    url = driver.find_elements(By.XPATH,'//a[@class="property-card-bottom-address__text link-ghost font-xs one-line-string"]')
    for i in url:
        Rent_url.append(i.get_attribute('href'))
    
    Next_button = driver.find_elements(By.XPATH, '//span[@class="pagination-arrow-next"]')
    time.sleep(3)

In [6]:
print(len(Rent_url))

330

In [7]:
Bed = []
Bath = []
Area = []
Price = []
Pets = []
Address =[]
Deposit = []
AC  = []
Dishwasher = []
Storage = []

In [8]:
for url in Rent_url:
    driver.get(url)
    delay = 3
    
    try:
        bed = driver.find_element(By.XPATH, '//*[@id="main-info"]/rb-apartment-card-swiper/div/div[3]/rb-apartment-internals/section/div[1]/div[2]/span[1]')
        Bed.append(bed.text)
    except NoSuchElementException:
        Bed.append('Null')
    except StaleElementReferenceException:
        Bed.append('Null')
    except WebDriverException:
        Bed.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        bath = driver.find_element(By.XPATH, '//span[@class="bathrooms"]')
        Bath.append(bath.text)
    except NoSuchElementException:
        Bath.append('Null')
    except StaleElementReferenceException:
        Bath.append('Null')
    except WebDriverException:
        Bath.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        area = driver.find_element(By.XPATH, '//div[@class="internals-item"][3]/div[2]')
        Area.append(area.text)
    except NoSuchElementException:
        Area.append('Null')
    except StaleElementReferenceException:
        Area.append('Null')
    except WebDriverException:
        Area.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        price = driver.find_element(By.XPATH, '//div[@class="property-card-bottom-price"]/p')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('Null')
    except StaleElementReferenceException:
        price.append('Null')
    except WebDriverException:
        price.append('Null')  
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        ac = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[1]/div/span[2]')
        AC.append(ac.text)
    except NoSuchElementException:
        AC.append('Null')
    except WebDriverException:
        AC.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)

    try:
        dishwasher = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[4]/div/span[2]')
        Dishwasher.append(dishwasher.text)
    except NoSuchElementException:
        Dishwasher.append('Null')
    except WebDriverException:
        Dishwasher.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except StaleElementReferenceException:
        Dishwasher.append('Null')

    
    try:
        address = driver.find_element(By.XPATH, '//span[@class="property-data-address-name"]')
        Address.append(address.text)
    except NoSuchElementException:
        Address.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Address.append('Null')
    except StaleElementReferenceException:
        Address.append('Null')
        
    try:
        pets = driver.find_element(By.XPATH, '//*[@id="main-info"]/section/div/div/rb-property-facilities/section/div[4]/span[2]')
        Pets.append(pets.text)
    except NoSuchElementException:
        Pets.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Pets.append('Null')
    except StaleElementReferenceException:
        Pets.append('Null')

In [9]:
DF6 = pd.DataFrame({'Address':Address,'Bed':Bed,'Bath':Bath,'Area':Area,'Pets':Pets,'Dishwasher':Dishwasher,'AC':AC,'Price':Price})
DF6

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,"Q-Park Brindleyplace, Brunswick Arcade, Park C...",3,2,Null,Null,Null,Furnished,"£2,292"
1,"30 Escelie Way, Selly Oak, B29 6GJ, United Kin...",2,1,Null,Null,Null,Null,"£1,092"
2,"Ridley Street, Park Central, B1 1SF, United Ki...",1,1,Null,Null,Null,Null,"£1,000"
3,"191 Dawlish Road, Selly Oak, B29 7AW, United K...",6,4,Null,Null,Null,Furnished,"£2,998"
4,"53 Gleave Road, Selly Oak, B29 6JW, United Kin...",3,1,Null,Null,Null,Furnished,"£1,494"
...,...,...,...,...,...,...,...,...
325,"Lombard Street, Highgate, B12 0AF, United Kingdom",Null,2,Null,Null,Null,Furnished,"£1,375"
326,"24 George Road, Selly Oak, B29 6AH, United Kin...",6,6,Null,Null,Null,Furnished,"£3,176"
327,"16 Gospel Lane, Fox Hollies, B27 7AA, United K...",1,1,Null,Null,Null,Furnished,£595
328,"Lower Edgbaston Reservoir, Mostyn Road, Chad V...",4,2,Null,Null,Null,Furnished,"£1,595"
329,"31 Quinton Road, Metchley, B17 0PP, United Kin...",Null,2,Null,Null,Null,Furnished,"£4,082"

In [11]:
import time
import csv

In [13]:
csv_file_path = 'DF6.csv'
with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file_path:
    csv_writer = csv.writer(csv_file_path)

In [14]:
import joblib
joblib.dump(DF6,'df6')

['df6']

In [15]:
New_Data_Scraped3 =  joblib.load('df6')
New_Data_Scraped3

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,"Q-Park Brindleyplace, Brunswick Arcade, Park C...",3,2,Null,Null,Null,Furnished,"£2,292"
1,"30 Escelie Way, Selly Oak, B29 6GJ, United Kin...",2,1,Null,Null,Null,Null,"£1,092"
2,"Ridley Street, Park Central, B1 1SF, United Ki...",1,1,Null,Null,Null,Null,"£1,000"
3,"191 Dawlish Road, Selly Oak, B29 7AW, United K...",6,4,Null,Null,Null,Furnished,"£2,998"
4,"53 Gleave Road, Selly Oak, B29 6JW, United Kin...",3,1,Null,Null,Null,Furnished,"£1,494"
...,...,...,...,...,...,...,...,...
325,"Lombard Street, Highgate, B12 0AF, United Kingdom",Null,2,Null,Null,Null,Furnished,"£1,375"
326,"24 George Road, Selly Oak, B29 6AH, United Kin...",6,6,Null,Null,Null,Furnished,"£3,176"
327,"16 Gospel Lane, Fox Hollies, B27 7AA, United K...",1,1,Null,Null,Null,Furnished,£595
328,"Lower Edgbaston Reservoir, Mostyn Road, Chad V...",4,2,Null,Null,Null,Furnished,"£1,595"
329,"31 Quinton Road, Metchley, B17 0PP, United Kin...",Null,2,Null,Null,Null,Furnished,"£4,082"

In [16]:
New_Data_Scraped3.to_excel("df6.xlsx", index = True, header = True)
print('spreadsheet saved :')

spreadsheet saved :

In [17]:
driver.close()