In [1]:
from bs4 import BeautifulSoup
import selenium
from selenium.common.exceptions import TimeoutException
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, WebDriverException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import requests

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get('https://rentberry.com/gb/apartments/s/manchester-uk')
time.sleep(2)

In [4]:
consent = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/div/div[2]/button[3]')
consent.click()

In [5]:
Rent_url = []
start = 0
end = 10
for page in range (start,end):
    url = driver.find_elements(By.XPATH,'//a[@class="property-card-bottom-address__text link-ghost font-xs one-line-string"]')
    for i in url:
        Rent_url.append(i.get_attribute('href'))
    
    Next_button = driver.find_elements(By.XPATH, '//span[@class="pagination-arrow-next"]')
    time.sleep(3)

In [6]:
print(len(Rent_url))

220

In [7]:
Bed = []
Bath = []
Area = []
Price = []
Pets = []
Address =[]
Deposit = []
AC  = []
Dishwasher = []
Storage = []

In [8]:
for url in Rent_url:
    driver.get(url)
    delay = 3
    
    try:
        bed = driver.find_element(By.XPATH, '//*[@id="main-info"]/rb-apartment-card-swiper/div/div[3]/rb-apartment-internals/section/div[1]/div[2]/span[1]')
        Bed.append(bed.text)
    except NoSuchElementException:
        Bed.append('Null')
    except StaleElementReferenceException:
        Bed.append('Null')
    except WebDriverException:
        Bed.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        bath = driver.find_element(By.XPATH, '//span[@class="bathrooms"]')
        Bath.append(bath.text)
    except NoSuchElementException:
        Bath.append('Null')
    except StaleElementReferenceException:
        Bath.append('Null')
    except WebDriverException:
        Bath.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        area = driver.find_element(By.XPATH, '//div[@class="internals-item"][3]/div[2]')
        Area.append(area.text)
    except NoSuchElementException:
        Area.append('Null')
    except StaleElementReferenceException:
        Area.append('Null')
    except WebDriverException:
        Area.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        price = driver.find_element(By.XPATH, '//div[@class="property-card-bottom-price"]/p')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append('Null')
    except StaleElementReferenceException:
        price.append('Null')
    except WebDriverException:
        price.append('Null')  
    except TimeoutException as e:
        print('Exception Raise:', e)
    try:
        ac = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[1]/div/span[2]')
        AC.append(ac.text)
    except NoSuchElementException:
        AC.append('Null')
    except WebDriverException:
        AC.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)

    try:
        dishwasher = driver.find_element(By.XPATH, '//*[@id="property-amenities"]/div/div/div/rb-property-rb-amenities/div/rb-amenities/ul/li[2]/div/span[2]')
        Dishwasher.append(dishwasher.text)
    except NoSuchElementException:
        Dishwasher.append('Null')
    except WebDriverException:
        Dishwasher.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except StaleElementReferenceException:
        Dishwasher.append('Null')

    
    try:
        address = driver.find_element(By.XPATH, '//span[@class="property-data-address-name"]')
        Address.append(address.text)
    except NoSuchElementException:
        Address.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Address.append('Null')
    except StaleElementReferenceException:
        Address.append('Null')
        
    try:
        pets = driver.find_element(By.XPATH, '//*[@id="main-info"]/section/div/div/rb-property-facilities/section/div[4]/span[2]')
        Pets.append(pets.text)
    except NoSuchElementException:
        Pets.append('Null')
    except TimeoutException as e:
        print('Exception Raise:', e)
    except WebDriverException:
        Pets.append('Null')
    except StaleElementReferenceException:
        Pets.append('Null')

In [12]:
DF16 = pd.DataFrame({'Address':Address,'Bed':Bed,'Bath':Bath,'Area':Area,'Pets':Pets,'Dishwasher':Dishwasher,'AC':AC,'Price':Price})
DF16

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,"Whitworth Locke, Civic Quarter, 74 Princess St...",Studio,1,24 \nm,No pets,Washer/Dryer In Unit,Furnished,"£3,699"
1,"Higher Lane, Whitefield, M45 7BG, United Kingdom",2,1,Null,Null,Null,Null,£950
2,"47 Clothorn Road, Manchester, M20 6BN, United ...",2,2,Null,Null,Null,Furnished,"£1,695"
3,"79 Wilbraham Road, Manchester, M14 7DW, United...",7,3,Null,Null,Null,Furnished,"£4,550"
4,"Leo Kelly Centre, Dickenson Road, Victoria Par...",4,2,Null,Null,Null,Furnished,"£2,426"
...,...,...,...,...,...,...,...,...
215,"Old Half Moon Chambers, 5-9 Chapel Walks, Manc...",Null,1,Null,Null,Null,Furnished,"£1,089"
216,"Ashfield Road, Victoria Park, Manchester, M14 ...",Null,2,Null,Null,Null,Furnished,"£2,600"
217,"Lord Street, Salford, M7 1UA, United Kingdom",Null,1,Null,Null,Null,Furnished,£950
218,"Rusholme, Birchfields Road (Stop D), Birchfiel...",Null,1,Null,Null,Null,Null,"£1,976"
219,"1 Harter Street, Manchester, M1 6HY, United Ki...",2,2,Null,Null,Null,Null,"£1,395"

In [13]:
import time
import csv
csv_file_path = 'DF16.csv'
with open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file_path:
    csv_writer = csv.writer(csv_file_path)

import joblib
joblib.dump(DF16,'df16')

New_Data_Scraped13 =  joblib.load('df16')
New_Data_Scraped13

,Address,Bed,Bath,Area,Pets,Dishwasher,AC,Price
0,"Whitworth Locke, Civic Quarter, 74 Princess St...",Studio,1,24 \nm,No pets,Washer/Dryer In Unit,Furnished,"£3,699"
1,"Higher Lane, Whitefield, M45 7BG, United Kingdom",2,1,Null,Null,Null,Null,£950
2,"47 Clothorn Road, Manchester, M20 6BN, United ...",2,2,Null,Null,Null,Furnished,"£1,695"
3,"79 Wilbraham Road, Manchester, M14 7DW, United...",7,3,Null,Null,Null,Furnished,"£4,550"
4,"Leo Kelly Centre, Dickenson Road, Victoria Par...",4,2,Null,Null,Null,Furnished,"£2,426"
...,...,...,...,...,...,...,...,...
215,"Old Half Moon Chambers, 5-9 Chapel Walks, Manc...",Null,1,Null,Null,Null,Furnished,"£1,089"
216,"Ashfield Road, Victoria Park, Manchester, M14 ...",Null,2,Null,Null,Null,Furnished,"£2,600"
217,"Lord Street, Salford, M7 1UA, United Kingdom",Null,1,Null,Null,Null,Furnished,£950
218,"Rusholme, Birchfields Road (Stop D), Birchfiel...",Null,1,Null,Null,Null,Null,"£1,976"
219,"1 Harter Street, Manchester, M1 6HY, United Ki...",2,2,Null,Null,Null,Null,"£1,395"

In [14]:
New_Data_Scraped13.to_excel("df16.xlsx", index = True, header = True)
print('spreadsheet saved :')

spreadsheet saved :